<section id="navbar">
  <nav>
    <div class="logo-icon">
      <ul>
        <li><a href=""><img src="public/1.png" alt=""></a></li>
        <li><a href="#"><h1>Acotask</h1></a></li>
      </ul>
      <div class="navbar-menus logo-icon">
        <ul>

          <li><a href="#"><h4 class="first-mrgn">Company</h4></a></li>
          <li><a href="#"><h4>Administration</h4></a></li>
          <li><a href="#"><h4>Transactions</h4></a></li>
          <li><a href="#"><h4>Display</h4></a></li>
          <li><a href="#"><h4>Help</h4></a></li>
        </ul>
      </div>
      <div class="navbar-login-button">
        <a href="/signup"><button type="button" class="btn1 btn btn-outline-secondary btn-lg">Sign Up</button></a>
        <a href="/"><button type="button" class="btn2 btn btn-outline-success btn-lg">Login</button></a>
      </div>
    </div>
  </nav>

</section>
